<!DOCTYPE html>
<html>
    <head>
        <title>@ErrorLogProvider.Settings.Application on @Server.MachineName &ndash; Error Logging Filter &amp; Route (ELFAR)</title>
        <link href="@Url.Content("~/elfar/Resources/Stylesheets/Stylesheet.css")" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div>
              
        </div>
        @Html.Partial("Footer")
    </body>
</html>