<!DOCTYPE html>
<html>
    <head>
        <title>Error Logging Filter &amp; Route (ELFAR) [@ErrorLogProvider.Settings.Application]</title>
    </head>
    <body>
        <div>
              
        </div>
        @Html.Partial("Footer")
    </body>
</html>