<!DOCTYPE html>
<html>
    <head>
        <title>Error Logging Filter &amp; Route (ELFAR) [@ErrorLogProvider.Settings.Application]</title>
    </head>
    <body>
        <div>
              
        </div>
        <footer>@ErrorLogProvider.Type.Name (v@(ErrorLogProvider.Version))</footer>
    </body>
</html>