<!DOCTYPE html>
<html>
    <head>
        <title>Error Logging Filter &amp; Route (ELFAR) [@ErrorLogProvider.Settings.Application]</title>
        <link href="@Url.Content("~/elfar/Resources/Stylesheets/Stylesheet.css")" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div>
              
        </div>
        @Html.Partial("Footer")
    </body>
</html>