<!DOCTYPE html>
<html>
<head>
    <title>Error Logging Filter and Route</title>
    <link href="@Url.Content("~/elfar/styles.css")" type="text/css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Header")
    <div>
        <div id="dashboard">
            <p>
                Trends:
                <ul>
                    <li>90 days</li>
                    <li>30 days</li>
                    <li>7 days</li>
                    <li>today</li>
                </ul>
            </p>
            <p>
                Donut charts:
                <ul>
                    <li>Areas</li>
                    <li>Controllers (per Area)</li>
                    <li>Actions (per Controller & Area)</li>
                </ul>
            </p>
            <p>
                List:
                <ul>
                    <li>last 10 errors</li>
                    <li>10 most common errors</li>
                </ul>
            </p>
        </div>
        @*<div id="list">
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
            <span>test</span><br/>
        </div>
        <div id="item">
            <div id="summary">
                Summary
            </div>
            <div id="detail">
                <span>testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
            </div>
        </div>*@
    </div>
    @Html.Partial("Footer")
    @Html.Partial("Scripts")
</body>
</html>