<!DOCTYPE html>
<html>
    <head>
        <title>Elfar test</title>
    </head>
    <body style="background-color: #5c87b2;">
        @using(Html.BeginForm())
        {
            <input type="text" name="Password" value='dfTO5b"<T' />
            <input type="submit" value="Test" />
        }
    </body>
</html>