@* ReSharper disable Mvc.ActionNotResolved *@
@* ReSharper disable Html.PathError *@
        <div id="notify" title="New Error Log">
            <p>
                <span>A new error has just been logged.</span>
                <span>Refresh the page to view the error log.</span>
            </p>
        </div>
        <script type="text/javascript" src="@Url.Action("JavaScript")?file=SignalR"></script>
        <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>