# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
.svn
*.user
app_data
*.suo
_Resharper*
nuget
packages/
Backup/

# mstest test results
TestResults

/Elfar.Web.Mvc/Resources/Elfar.js
/Elfar.Web.Mvc/Resources/Script.js
/Elfar.Web.Mvc/Resources/~Script.js
*.map
/Elfar.Web.Mvc/Resources/Elfar.css
