<div id="dashboard" data-bind="foreach: sections">
    <div class="section" data-bind="attr: { id: name }">
        <div class="head" data-bind="text: title"></div>
        <div class="body" data-bind="template: template"></div>
    </div>
</div>
<script type="text/html" id="summary-template">
    <ul data-bind="foreach: tiles">
        <li data-bind="template: { name: template, data: content }, css: size"></li>
    </ul>
</script>
<script type="text/html" id="term-template">
    <div data-bind="click: count ? $root.add : null, css: css">
        <div class="head" data-bind="attr: { title: title }, text: title"></div>
        <div class="body" data-bind="text: count"></div>
        <div class="foot">Error Logs</div>
    </div>
</script>
<script type="text/html" id="donut-template">
    <div class="chart" data-bind="attr: { id: id }"></div>
    <div class="title" data-bind="text: id"></div>
    <ul class="legend" data-bind="foreach: series[0].points">
        <li data-bind="attr: { title: title }">
            <span data-bind="style: { backgroundColor: colour }"></span>
            <a data-bind="text: name, click: $root.add"></a>
        </li>
    </ul>
</script>
<script type="text/html" id="chart-template">
    <div class="chart" data-bind="attr: { id: id }"></div>
</script>
<script type="text/html" id="latest-template">
    <ul data-bind="foreach: errorLogs">
        <li data-bind="attr: { title: Type }"><a data-bind="text: Type, click: $root.show" data-toggle="modal" data-target="#errorLog"></a></li>
    </ul>
</script>
<script type="text/html" id="frequent-template">
    <ul data-bind="foreach: items">
        <li data-bind="attr: { title: name }"><a data-bind="text: name, click: $root.add"></a></li>
    </ul>
</script>

@*<div id="timeline" style="min-width: 310px; height: 150px; margin: 0 auto"></div>*@