<div id="a">
    <div id="sections">
        <div class="section">
            <div class="head"></div>
            <div class="body content(section)"></div>
        </div>
    </div>
</div>
<div id="b">
    <ul id="tiles">
        <li class="tile"></li>
    </ul>
</div>
<div id="c">
    <div class="chart"></div>
    <div class="title"></div>
</div>
<div id="d">
    <div class="term">
        <div class="head title(term)"></div>
        <div class="body"></div>
        <div class="foot">Error Logs</div>
    </div>
</div>
<div id="e">
    <div class="chart"></div>
    <div class="title"></div>
    <ul class="legend">
        <li class="title(legend)">
            <span class="colour(legend)"></span>
            <a class="name click(tab)"></a>
        </li>
    </ul>
</div>
<div id="f">
    <table class="latest">
        <tbody class="errorLogs">
        <tr>
            <td class="title(Type)"><a class="type click(Type)" data-toggle="modal" data-target="#errorLog"></a></td>
            <td class="date"></td>
            <td class="time"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="g">
    <ul class="items">
        <li class="title(name)"><a class="name click(tab)"></a></li>
    </ul>
</div>