<p>
    Trends:
    <ul>
        <li>90 days</li>
        <li>30 days</li>
        <li>7 days</li>
        <li>today</li>
    </ul>
    <div id="timeline" style="min-width: 310px; height: 150px; margin: 0 auto"></div>
    <div id="donut" style="height: 300px; width: 100%;"></div>
</p>
<p>
    Donut charts:
    <ul>
        <li>Areas</li>
        <li>Controllers (per Area)</li>
        <li>Actions (per Controller & Area)</li>
    </ul>
</p>
<p>
    List:
    <ul>
        <li>last 10 errors</li>
        <li>10 most common errors</li>
    </ul>
</p>