<!DOCTYPE html>
<html>
<head>
    <title>Error Logging Filter and Route</title>
    <link type="text/css" rel="stylesheet" href="@Url.Action("styles")">
</head>
<body>
    <main>
        @Html.Partial("Header")
        <div id="content"></div>
        @Html.Partial("Footer")
        <div id="modals"></div>
    </main>
    <script src="@Url.Action("script")"></script>
</body>
</html>