<header>
    <div>Error Logging Filter and Route &nbsp;/&nbsp; @Strong(Elfar.ErrorLogProvider.Application, "The name or id of the web application") &nbsp;/&nbsp; @Strong(@Server.MachineName, "The name of the server")</div>
    <ul id="tabs">
        <li class="selected">Dashboard</li>
    </ul>
</header>
@helper Strong(string text, string title) { <strong title="@title">@text</strong> }