<header>
    <div>Error Logging Filter and Route &nbsp; &nbsp; @Strong(@Server.MachineName, "The name of the server") &nbsp;/&nbsp; @Strong(Elfar.ErrorLogProvider.Application, "The name or id of the web application")</div>
    <ul id="tabs" data-bind="foreach: tabs">
        <li data-bind="css: { selected: selected }, click: $root.select, attr: { title: title }">
            <span data-bind="text: title"></span>&nbsp; <i data-bind="visible: closeable, click: $root.remove" style="display: none;">&times;</i>
        </li>
    </ul>
</header>
@helper Strong(string text, string title) { <strong title="@title">@text</strong> }