<header>
    <div>Error Logging Filter and Route &nbsp; &nbsp; @Strong(@Server.MachineName, "The name of the server") &nbsp;/&nbsp; @Strong(Elfar.ErrorLogProvider.Application, "The name or id of the web application")</div>
    <ul id="tabs">
        <li class="tab">
            <span class="title"></span>&nbsp; <i class="tab(close)">&times;</i>
        </li>
    </ul>
</header>
@helper Strong(string text, string title) { <strong title="@title">@text</strong> }