<div id="h">
    <div class="list">
        <div class="toolbar">
            <div class="filter-wrapper">
                <input name="filter" type="text" title="Filter" placeholder="Filter" tabindex="0">
                <span></span>
            </div>
        </div>
        <div class="table-head">
            <div>&nbsp;</div>
            <div class="type" title="Type">Type</div>
            <div class="action" title="Action">Action</div>
            <div class="controller" title="Controller">Controller</div>
            <div class="area" title="Area">Area</div>
            <div class="method" title="Method">Method</div>
            <div class="date" title="Date">Date</div>
            <div class="time" title="Time">Time</div>
        </div>
        <div class="rows table-body">
            <div class="row">
                <div>&nbsp;</div>
                <div class="type title(Type)"></div>
                <div class="action title(Action)"></div>
                <div class="controller title(Controller)"></div>
                <div class="area title(Area)"></div>
                <div class="method title(Method)"></div>
                <div class="date title(Date)"></div>
                <div class="time title(Time)"></div>
            </div>
        </div>
        <div class="empty show(!rows)">Your filtered yielded no results.</div>
    </div>
</div>