* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    font-family: Segoe UI,Tahoma,Arial,Verdana;
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: default;

    > div {
        position: absolute;
        top: 66px;
        bottom: 36px;
        left: 25px;
        right: 0;
        padding: 10px;
        overflow: auto;
    }
}

header {
    font-size: 14px;
    padding-bottom: 0;

    > div {
        height: 31px;
        line-height: 31px;
        padding: 0 10px 0 20px;
    }
}

footer {
    bottom: 0;
    padding: 10px;
    font-size: 11px;
    text-align: center;
}

header, footer {
    position: fixed;
    width: 100%;
    z-index: 999;
}

a {
    color: #007acc;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

pre {
    width: 95%;
    overflow: scroll;
}

td.small {
    width: 60px;
}

ul#tabs {
    margin: 10px 0 0;
    padding: 0 0 0 20px;
    list-style: none;

    li {
        display: inline-block;
        padding: 0 5px 3px;
        border-bottom: 2px solid #BBB;

        &:first-child {
            margin-left: 15px;
        }

        &:hover {
            background-color: #DDD;
        }

        &.selected {
            border-bottom: 3px solid #007ACC;

            &:hover {
                background-color: transparent;
            }
        }
    }

    i {
        display: inline-block;
        height: 12px;
        line-height: 10px;

        &:hover {
            background-color: #CCC;
        }
    }
}

#frequent, #latest {
    ul {
        margin: 0;
        padding: 0 0 0 4px;
        list-style-type: none;

        li {
            max-width: 308px;
        }
    }
}

#content > div {
    max-width: 1280px;
}

#summary {
    ul {
        margin: 0;
        padding: 0;
        width: inherit;
    }

    li {
        position: relative;
        float: left;
        width: 152px;
        height: 152px;
        margin-right: 8px;
        margin-bottom: 8px;
        overflow: hidden;

        > div {
            position: absolute;
            top: 0;
            width: inherit;
            height: inherit;

            .body {
                position: absolute;
                top: 20px;
                right: 11px;
                left: 11px;
                font-size: 72px;
            }

            .foot {
                position: absolute;
                right: 11px;
                bottom: 20px;
                left: 11px;
                font-size: 12px;
            }

            .head {
                position: absolute;
                top: 7px;
                right: 11px;
                left: 11px;
                font-size: 16px;
            }
        }

        div.title {
            width: auto;
            height: auto;
            padding-top: 7px;
            padding-left: 11px;
            color: #000;
            font-size: 16px;
        }

        ul.legend {
            position: absolute;
            top: 32px;
            left: 11px;
            margin: 0;
            padding: 0;
            width: inherit;

            li {
                float: left;
                width: auto;
                height: auto;
                list-style-type: none;
                max-width: 93px;

                a {
                    color: #000;
                } 

                span:first-child {
                    display: block;
                    width: 12px;
                    height: 12px;
                    float: left;
                    margin-top: 3px;
                    margin-right: 4px;
                }
            }
        }
    }

    li.wide {
        width: 312px;
    }

    li.large {
        width: 312px;
        height: 312px;
    }

    &.section {
        width: 640px;
    }
}

.section {
    width: 320px;
    float: left;
    padding: 4px;

    table {
        margin: 0 2px;
        width: 308px;

        th {
            font-weight: normal;

            &:first-child {
                text-align: left;
            }
        }
    }

    > .body {
        width: inherit;
        height: inherit;
    }

    > .head {
        font-size: 18px;
        padding-bottom: 5px;
        padding-right: 3px;
        margin-bottom: 4px;
        margin-left: 4px;
        border-bottom: 1px solid #DDD;
    }
}

.centre {
    text-align: center;
}

.chart {
    padding: 0 !important;
}

.clickable {
    cursor: pointer !important;
}

.lightblue-bg {
    background-color: #1BA1E2 !important;
}

.modal-content {
    border-radius: 0;
}

header > div, .blue-bg {
    background-color: #007ACC !important;
}

body, .chart, .lightgrey-bg {
    background-color: #F1F1F1;
}

.grey-bg {
    background-color: #DCDCDC !important;
}

.teal-bg {
    background-color: #009CCC !important;
}

#content, .white-bg {
    background-color: #FFF;
}

header > div, #summary li > div {
    color: #FFF;
}

ul.legend li, #latest li, #summary li > div .header, #summary li > div .body, #summary li > div .footer, .section > .head {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

#summary li > div .body, .section > .head {
    font-family: Segoe UI Light,Segoe UI,Tahoma,Arial,Verdana;
}

/*#list{position:absolute;top:80px;bottom:0;width:300px;border-right:5px solid #f1f1f1;padding:2px;overflow:auto}
#item{position:absolute;top:80px;right:0;bottom:0;left:300px;border-left:1px solid #999;overflow:hidden}
#summary{position:absolute;left:0;right:0;height:100px;padding:2px}
#detail{position:absolute;top:100px;left:0;right:0;bottom:0;padding:2px;overflow:auto}
pre .t{color:blue}
pre .m{color:green}
pre .p{color:red}
pre .f{color:magenta}
pre .l{color:aqua}
.green-bg{background-color:#217167 !important}
.lightpurple-bg{background-color:#9f00A7 !important}
.purple-bg{background-color:#68217A !important}
.darkpurple-bg{background-color:#571C75 !important}
.magenta-bg{background-color:#A83A95 !important}
.grey-bg{background-color:#748189 !important}
.lime-bg{background-color:#9ACD32 !important}
.orange-bg{background-color:#F2700F !important}
.red-bg{background-color:#FF3B3B !important}
.darkblue-bg{background-color:#3673B8 !important}
*/