* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  font-family: Segoe UI,Tahoma,Arial,Verdana;
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body > div {
  position: absolute;
  top: 66px;
  bottom: 36px;
  left: 25px;
  right: 0;
  padding: 10px;
  overflow: auto;
}
header {
  font-size: 14px;
  padding-bottom: 0;
}
header > div {
  height: 31px;
  line-height: 31px;
  padding: 0 10px 0 20px;
}
footer {
  bottom: 0;
  padding: 10px;
  font-size: 11px;
  text-align: center;
}
header,
footer {
  position: fixed;
  width: 100%;
  z-index: 999;
}
pre {
  width: 95%;
  overflow: scroll;
}
td.small {
  width: 60px;
}
ul#tabs {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
  list-style: none;
}
ul#tabs li {
  display: inline-block;
  padding: 0 5px 3px;
  border-bottom: 2px solid #BBB;
  cursor: default;
}
ul#tabs li:first-child {
  margin-left: 15px;
}
ul#tabs li:hover {
  background-color: #DDD;
}
ul#tabs li.selected {
  border-bottom: 3px solid #007ACC;
}
ul#tabs li.selected:hover {
  background-color: transparent;
}
ul#tabs i {
  display: inline-block;
  height: 12px;
  line-height: 10px;
}
ul#tabs i:hover {
  background-color: #CCC;
}
#summary ul {
  margin: 0;
  padding: 0;
  width: inherit;
}
#summary li {
  position: relative;
  float: left;
  width: 152px;
  height: 152px;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}
#summary li > div {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
}
#summary li > div .body {
  position: absolute;
  top: 20px;
  right: 11px;
  left: 11px;
  font-size: 72px;
}
#summary li > div .foot {
  position: absolute;
  right: 11px;
  bottom: 20px;
  left: 11px;
  font-size: 12px;
}
#summary li > div .head {
  position: absolute;
  top: 7px;
  right: 11px;
  left: 11px;
  font-size: 16px;
}
#summary li div.title {
  padding-top: 7px;
  padding-left: 11px;
  color: #000;
  font-size: 16px;
}
#summary li ul.legend {
  position: absolute;
  top: 32px;
  left: 11px;
  margin: 0;
  padding: 0;
  width: inherit;
}
#summary li ul.legend li {
  float: left;
  width: auto;
  height: auto;
  list-style-type: none;
  max-width: 93px;
  color: #000;
}
#summary li ul.legend li span:first-child {
  display: block;
  width: 12px;
  height: 12px;
  float: left;
  margin-top: 3px;
  margin-right: 4px;
}
#summary li.wide {
  width: 312px;
}
#summary li.large {
  width: 312px;
  height: 312px;
}
#summary.section {
  width: 640px;
}
.section {
  width: 320px;
  float: left;
  padding: 4px;
}
.section table {
  width: 100%;
}
.section > .body {
  width: inherit;
  height: inherit;
}
.section > .head {
  font-size: 18px;
  padding-bottom: 5px;
  padding-right: 3px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom: 1px solid #DDD;
}
.centre {
  text-align: center;
}
.chart {
  padding: 0 !important;
}
.clickable {
  cursor: pointer !important;
}
.lightblue-bg {
  background-color: #1BA1E2 !important;
}
header > div,
.blue-bg {
  background-color: #007ACC !important;
}
body,
.chart,
.lightgrey-bg {
  background-color: #F1F1F1;
}
.grey-bg {
  background-color: #DCDCDC !important;
}
.teal-bg {
  background-color: #009CCC !important;
}
body > div,
.white-bg {
  background-color: #FFF;
}
header > div,
#summary li > div {
  color: #FFF;
}
td.type,
#summary li .header,
#summary li .content,
#summary li .footer,
.section,
.section > .head,
ul.legend li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
#summary li .content,
.section > .head {
  font-family: Segoe UI Light,Segoe UI,Tahoma,Arial,Verdana;
}
